* { box-sizing: border-box; }

html {
  background-image: url(images/bitcoin-fire.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #B1B1B1;   
}

html,
select {
  font-family: 'Montserrat', sans-serif;
  color: white;  /* #f0f0f0; */
  text-shadow:1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      0px 1px 0 #000,
      1px 0px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      2px 2px 1px #f0f0f0;
}

header {
  padding-left: 9%;
  padding-top: 10px;
}

.header-replacement {
  width: 650px; 
  height: 250px;
  margin: 0;
  background: url("images/bitcoinSteel.png");
  background-size: cover;
  background-repeat: none; 
  text-indent: -9999px;
}

#currencies {
  background-color: #000;
  height: 50px;
  padding: .1em;
  font-size: 1.5em;
}

.select-ccy {
  display: inline-block;
  position: absolute;
  top: 21%;
  right: 10%;
}

/* Mobile styles */

.search-form {              
  margin-top: 20px;
}

.main-content {
  font-size: 2em;
  margin-top: 50px;         
}

.amt {
  font-size: 1.5em;
  padding: 0; 
  position: absolute;
  top: 30%;
  right: 10%;
  text-align: right;
}

.change {
  position: absolute;
  top: 40%;
  left: 14%;
  text-align: left;
}

footer {
  height: 150px;
  position: fixed;
  bottom: 10px;
/*  left: auto;
  right: auto;*/
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background-color: #f0f0f0;  
/*  left: 0;           
  right: 0;   */       
  width: 90%;       
  margin: auto;       
  max-width: 100%;    
  overflow: hidden;
}

footer img {
  padding: 2%;
  max-height: 180px;
  max-width: 180px;
  border: 7px solid #ffffff;
  border-radius: 4px;

}

#flex-container {
  background-color: #f0f0f0;  
  display: flex;
  justify-content: center;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;      /* IE 10 */    
  flex: 0 1 auto;
}

.footer-flex {
  display: flex;
}

.footer-box {
  border: none;
  padding-top: 20px;
  padding-left: 3px;      
  justify-content: center;
  align-content: center;
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;      /* IE 10 */    
  flex: 0 1 auto;
}

.first-box {
  padding-left: 0;
}

.tab {
  margin-left: 10%;
}

/* Non-mobile styles */

@media only screen and (min-width: 640px) {

  .search-form {              
    margin-top: 0;
  }

  .main-content {
    margin-top: 1%;         
  }

  footer {
    width: 65%;
    left: 0;           
    right: 0;            
  }

  .footer-box {
    padding-left: 20px;      
  }
}