* { box-sizing: border-box; }

body {
  background-color: black;
  color: #FEFEFE;   /*#FCFDFF;  */ /* #f4f6f9;*/
}

/*.thumbnail {
  display: inline-block;
  width: 80%;
  height: 50px;
  border: 5px solid black;
  border-radius: 5px;
  padding: 7px;
  margin: 10% auto;
  background: blue;
} */

/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -60px;
    left: 180px;
    z-index: 1;
} */

/*.tooltip:hover .tooltiptext {
    visibility: visible;
}*/


header {
  padding: 15px;
  border-bottom: 2px solid #400000;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.side {
    background-color: #FEFEFE;
    color: black;
    float: right;
    padding-left: 1%;
    width: 25%;
/*    height: 100%;*/
    border-left: 5px solid #400000;
}

/*.clearfix::after {
    content: "";
    clear: both;
    display: table;
}*/

.content {
    width: 75%;
    margin-left: 7%;
    margin-top: 5%;
}

#currencies {
  background-color: #FEFEFE;
  height: 50px;
  padding: .1em;
  color: #000;
  font-size: 2em;
}

.js-result-bitcoin {
  color: #FEFEFE;
  font-size: 2em;
}
