* { box-sizing: border-box; }

html {
  background-image: url(images/bitcoin-fire.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
}

html,
select {
  font-family: 'Montserrat', sans-serif;
  color: #f0f0f0; 
/*  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
text-shadow:1px 1px 0 #000,
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      0px 1px 0 #000,
      1px 0px 0 #000,
      0px -1px 0 #000,
      -1px 0px 0 #000,
      2px 2px 1px #f0f0f0;
}

header {
  padding-left: 6%;
  padding-top: 10px;
/*  border-bottom: 3px solid #400000;*/
}

#js-to-ccy-amt {
  margin-left: 50%;
  font-size: 1.5em;
  text-align: right;

}


.select-ccy {
  display: inline-block;
  position: absolute;
  top: 21%;
  right: 20%;
}

.header-replacement {
  width: 650px; 
  height: 250px;
  margin: 0;
  background: url("images/bitcoinSteel.png");
  background-size: cover;
  background-repeat: none; 
  text-indent: -9999px;
}

.bitcoin-image {
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 5px;
  width: 50px; 
  height: 50px;
  background: url("images/one-bitcoin.png");
  background-size: cover;
  background-repeat: none; 

}

.pointer {
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 5px;
  width: 50px; 
  height: 50px;
  background: url("images/pointer.png");
  background-size: cover;
  background-repeat: none; 

}

.main-content {
  padding-left: 12%;
}

.side-content {
  margin: 0;
  height: 100%;
  padding-left: 7%; 

}


#currencies {
  background-color: #000;
  height: 50px;
  padding: .1em;
  font-size: 1.5em;
}

.js-result-bitcoin {
  color: #FEFEFE;
  font-size: 2em;

}

.results {
  height: 50px;
  font-size: 2em;
  display: inline-block;
}

.amt, 
.pct {
  margin-left: 8%;

}

.data {
  text-align: left;
/**  border: 1px solid #FEFEFE;
  border-radius: 4px;/
/*  padding: .3em;*/
}

.center {
  text-align: center;
}
